/* Defining our colors */
:root{
    --primary-color: #5EB1BF;
    --primary-color-light:#F0F2EF;
    --primary-color-dark: rgb(4, 27, 43);
    --secondary-color: #EF7B45;
    --secondary-color-dark: #D84727;
    
    --primary-text-color: #272838;
    --primary-text-color-lighter-dark: #6F6F8F;
    --primary-text-color-light: #CECCCC;
}

html {
    background: var(--primary-color-light);
}

body {
    font-family: 'Lato', sans-serif;
    padding-bottom: 2rem;
    background-color: transparent;
}

p {
    color: var(--primary-text-color);
}

/* Title bar */
#topBar{
    background: var(--primary-color);
    padding: 5%;
} 

#apptitle {
    font-weight: lighter;
    font-size: 5rem;
    text-align: center;
    color: var(--primary-color-light);
} 

#mainContent {
    margin: 2rem;
    align-self: center;
}

.color-red{
    color: rgb(221, 31, 31);
}

.color-red:hover{
    color: rgb(144, 0, 0);
}

.login{
    background-color: var(--primary-color);
}

.login-content{
    width: 30%;
    color: var(--primary-color-light);
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.center-contents{
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.questionContainer {
    margin-bottom: 2rem;
}

.unansweredQuestion{
    color: var(--primary-text-color-lighter-dark);
}

.newPostButton{
    margin-top: 1rem;
}

.info-bar{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    background-color: var(--primary-color-dark);
    width: 100%;
    margin-bottom: -1rem;
}

.info-bar-icon{
    margin-left: 1rem;
}

.inline-block{
    display: inline-block;
}

.course-page-item {
    margin-right: 1rem;
}

.error{
	color: #FF0000;
}
/* .lightText {
    color: var(--primary-text-color-subheadding);
    font-size: .75em;
} */

